<ion-header>
  <ion-toolbar color="secondary">
    <ion-title text-center>PRODUCT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding has-header" padding>
	<ion-list>
		<ion-item class="item item-avatar">
			<img src="../assets/img/aa.jpg">
			<ion-label >   NOKIA 105 TAM</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/bb.jpg">
			<ion-label >   ASUS LIVE L2</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/cc.jpg">
			<ion-label >   XIAOMI MI BAND 4</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/dd.jpg">
			<ion-label >   JOYSEUS HEADSET</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/ee.jpg">
			<ion-label >   SAMSUNG M30</ion-label>
		
		</ion-item><p></p>
	</ion-list>
</ion-content>
